<div class="bg-white">
  <div class="relative isolate px-0 pt-14 lg:px-0">
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff6f61] via-[#ff9a7b] to-[#6fa3ef] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>
    <div class="flex justify-center space-x-8">
      <!-- Text Section -->
      <div class="flex flex-col justify-center items-start w-1/2 space-y-4">
        <h2 class="text-gray-900 text-4xl font-bold mb-4">
          Transform the Buying
        </h2>
        <p class="text-gray-600 mb-6">
          Welcome to our innovative platform, where the traditional marketplace
          model is flipped on its head. Here, you don't list products you have,
          but rather the items you're seeking.
        </p>

        <button
          class="find-button bg-black text-white px-6 py-3 rounded-md"
          (click)="onFindWhatYouNeed()"
        >
          Find What You Need
        </button>
      </div>
      <!-- Image Section -->
      <div class="flex flex-col w-1/2 space-y-4">
        <div class="flex flex-col space-y-4">
          <!-- Row 1 -->
          <div class="overflow-x-auto scrollbar-hide">
            <div class="flex space-x-4">
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 1"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 2"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 3"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 4"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 5"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 10"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <!-- Add more images as needed -->
            </div>
          </div>

          <!-- Row 2 -->
          <div class="overflow-x-auto scrollbar-hide">
            <div class="flex space-x-4">
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 4"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 5"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 6"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 7"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 8"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 9"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 10"
                class="w-32 h-32 object-cover rounded-lg"
              />
            </div>
          </div>

          <!-- Row 3 -->
          <div class="overflow-x-auto scrollbar-hide">
            <div class="flex space-x-4">
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 1"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 2"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 3"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 4"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 5"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <img
                src="/assets/greyjordans.jpg"
                alt="Item 10"
                class="w-32 h-32 object-cover rounded-lg"
              />
              <!-- Add more images as needed -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-0 px-0 py-20">
      <h3 class="text-gray-600 text-center text-sm py-2">
        Streamline Your Search
      </h3>
      <h1 class="text-gray-950 text-center font-bold text-6xl">Personalized</h1>
      <h2 class="text-gray-600 text-center text-xl py-4">
        Discover the Products You Desire with Ease
      </h2>

      <div class="mx-0 px-0 py-6">
        <div class="grid grid-cols-3 gap-4 p-4">
          <!-- Box 1 -->
          <div class="bg-gray-200 p-4 shadow-md">
            <p class="text-right text-sm">Browse</p>
            <img
              src="/assets/car.png"
              alt="Item 5"
              class="px-4 py-6 object-cover"
            />
          </div>
          <!-- Box 2 -->
          <div class="bg-gray-200 p-4 shadow-md">
            <p class="text-right text-sm">Browse</p>
            <img
              src="/assets/car.png"
              alt="Item 5"
              class="px-4 py-6 object-cover"
            />
          </div>
          <!-- Box 3 -->
          <div class="bg-gray-200 p-4 shadow-md">
            <p class="text-right text-sm">Browse</p>
            <img
              src="/assets/car.png"
              alt="Item 5"
              class="px-4 py-6 object-cover"
            />
          </div>
        </div>
        <div class="grid grid-cols-6 gap-1 py-3">
          <div class="flex justify-center">
            <img
              src="/assets/icons/apple.png"
              alt="apple"
              class="px-4 py-6 object-cover"
              style="width: 100px; height: auto"
            />
          </div>
          <div class="flex justify-center">
            <img
              src="/assets/icons/adidas.png"
              alt="Item 5"
              class="px-4 py-6 object-cover"
              style="width: 100px; height: auto"
            />
          </div>
          <div class="flex justify-center">
            <img
              src="/assets/icons/ck.png"
              alt="Item 5"
              class="px-4 py-6 object-cover"
              style="width: 100px; height: auto"
            />
          </div>
          <div class="flex justify-center">
            <img
              src="/assets/icons/intel.png"
              alt="Item 5"
              class="px-4 py-6 object-cover"
              style="width: 100px; height: auto"
            />
          </div>
          <div class="flex justify-center">
            <img
              src="/assets/icons/mic.png"
              alt="Item 5"
              class="px-4 py-6 object-cover"
              style="width: 100px; height: auto"
            />
          </div>
          <div class="flex justify-center">
            <img
              src="/assets/icons/nike.png"
              alt="Item 5"
              class="px-4 py-6 object-cover"
              style="width: 100px; height: auto"
            />
          </div>
        </div>
        <h2 class="text-gray-600 text-center text-2xl py-4">How It Works!</h2>
      </div>
    </div>
    <div class="flex justify-center space-x-8">
      <div class="flex flex-col w-1/2 space-y-4 py-4">
        <img src="/assets/guy.png" alt="Item 5" class="rounded-md" />
      </div>
      <div class="flex flex-col w-1/2 space-y-4 py-4 justify-center">
        <h2 class="text-gray-900 text-7xl font-bold mb-4">
          Revolutionize the Way You
        </h2>
        <p class="text-gray-600 mb-6">
          Our platform flips the traditional marketplace model on its head,
          empowering you to find exactly what you need. No more searching
          endlessly or settling for less - we connect you directly with the
          products and services that match your unique requirements
        </p>
        <button
          class="bg-gradient-to-tr from-purple-500 to-pink-500 text-white px-6 py-3 rounded-xl"
          style="width: 150px; height: auto"
          routerLink="/submit-item"
        >
          Get Started
        </button>
      </div>
    </div>
  </div>
  <!--Login Section-->
  <div
    id="login-section"
    class="bg-gray-900 w-full h-screen flex items-center justify-center px-4 sm:px-6 lg:px-8"
  >
    <!-- Login Form -->
    <div class="max-w-lg w-full bg-gray-800 rounded-lg shadow-md p-10">
      <h1 class="text-3xl font-bold text-white mb-8 text-center">Login</h1>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="space-y-6">
        <!-- Username Input -->
        <div>
          <label for="username" class="block text-sm font-medium text-gray-300">
            Username
          </label>
          <input
            type="text"
            id="username"
            name="username"
            [(ngModel)]="loginData.username"
            required
            class="w-full mt-2 px-4 py-3 border border-gray-700 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 bg-gray-700 text-white"
            placeholder="Enter your username"
          />
        </div>
        <!-- Password Input -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-300">
            Password
          </label>
          <div class="relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              name="password"
              [(ngModel)]="loginData.password"
              required
              class="w-full mt-2 px-4 py-3 border border-gray-700 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 bg-gray-700 text-white pr-12"
              placeholder="Enter your password"
            />
            <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="absolute inset-y-0 right-3 flex items-center focus:outline-none"
            >
              <img
                [src]="
                  showPassword
                    ? '/assets/icons/eye-off.svg'
                    : '/assets/icons/eye.svg'
                "
                alt="Toggle Password"
                class="w-5 h-5"
              />
            </button>
          </div>
        </div>
        <!-- Remember Me and Forgot Password -->
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <input
              id="remember"
              type="checkbox"
              class="h-4 w-4 text-blue-600 border-gray-700 rounded focus:ring-blue-500"
            />
            <label for="remember" class="ml-2 block text-sm text-gray-300">
              Remember me
            </label>
          </div>
          <a
            routerLink="/password-reset"
            class="text-sm font-medium text-blue-400 hover:underline"
          >
            Forgot your password?
          </a>
        </div>
        <!-- Login Button -->
        <button
          type="submit"
          class="w-full bg-blue-600 text-white font-medium py-3 rounded-md hover:bg-blue-700 focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Login
        </button>
        <!-- Register Link -->
        <p class="text-sm text-gray-300 text-center">
          Don't have an account?
          <a
            routerLink="/register"
            class="text-blue-400 font-medium hover:underline"
          >
            Register
          </a>
        </p>
      </form>
      <!-- Error Message -->
      <p *ngIf="errorMessage" class="text-red-500 text-sm mt-4 text-center">
        {{ errorMessage }}
      </p>
    </div>
  </div>
</div>
