<!-- listings/templates/registration/login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'listings/styles.css' %}">
    <script>
        function redirectToRegister() {
            window.location.href = "{% url 'register' %}";
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Login</button>
            <button id="register" type="button" onclick="redirectToRegister()">Register</button>
        </form>
    </div>
</body>
</html>