{% extends "home/homepage.html" %} {% block content %}
<h2>Register</h2>

<form method="post">
  {% csrf_token %} {% if form.non_field_errors %}
  <div class="error">{{ form.non_field_errors }}</div>
  {% endif %} {% for field in form %}
  <div>
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }} {% if field.errors %} {% for error in field.errors %}
    <div class="error">{{ error }}</div>
    {% endfor %} {% endif %}
  </div>
  {% endfor %}

  <button type="submit">Register</button>
</form>
{% endblock %}
