<!DOCTYPE html>
<html>
<head>
    <title>Welcome to WannaFind</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'listings/styles.css' %}"> <!-- Link to your CSS -->
</head>
<body id="home-body">
    <div class="container" id="home-container">
        <h1 id="home-h1">Welcome to WannaFind</h1>
        <p id="home-p">Your one-stop solution for finding items people are looking for.</p>
        
        <h2 id="home-h2">Features</h2>
        <ul>
            <li>Browse items that others are looking for.</li>
            <li>Create new item listings.</li>
            <li>Register and manage your account.</li>
        </ul>

        <h2>Get Started</h2>
        <a href="{% url 'register' %}" type="button" id="register-home">Register</a>
        <a href="{% url 'item_list' %}" type="button" id="view-items-home">View Items</a>
        <a href="{% url 'login' %}" type="button" id="login-home">Login</a>
    </div>
</body>
</html>