<!-- home/templates/home/submit_item_request.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Submit Item Request</title>
  </head>
  <body>
    <h1>Submit Your Item Request</h1>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Submit Request</button>
    </form>

    <a href="{% url 'item_requests_list' %}">Back to Your Requests</a>
    <a href="{% url 'profile' %}">Back to Profile</a>
    <a href="{% url 'homapage' %}"> home</a>
  </body>
</html>
