/* listings/static/listings/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#home-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-align: center;
    padding-top: 10px;
}

#home-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#home-h1, #home-h2{
    color: #333;
}
#home-p {
    color: #555;
}
#register-container {
    width: 300px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-align: center;
    padding-top: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    width: 260px;
    padding-left: 10px;
    padding-right: 10px; /* Space between form groups */
}

label {
    display: block; /* Make label a block element */
    margin-bottom: 5px; /* Space between label and input */
    color: #333; /* Label color */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}
button[id="register"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}
button[id="login"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

button[id="register-home"], button[id="view-items-home"], button[id="login-home"] {
    display: inline-block; /* Make it behave like a button */
    padding: 10px 15px; /* Add padding */
    background-color: #5cb85c; /* Button color */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 3px; /* Rounded corners */
    margin-top: 10px; /* Space above */
}
button:hover {
    background-color: #4cae4c;
}

button[type="button"][id="register"]:hover {
    background-color: #0056b3;
}

button[type="button"][id="login"]:hover {
    background-color: #0056b3;
}
button[id="register-home"], button[id="view-items-home"], button[id="login-home"]:hover{
    background-color: #4cae4c;
}

.help-text {
    display: none;
    color: #888; 
    font-size: 12px; 
    margin-top: 5px; 
}